/*
	Overflow by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 4em 0 4em 0;
		background-size:		auto,								175% auto;
	}